html {
	font-size: 62.5%;
	background-color: var(--background);
}

@media (max-width: 1200px) {
    html {
        font-size: 52.5%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 42.5%;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 32.5%;
    }
}

body {
	font-family: "Lora", serif;
  	font-size: 1.6rem;
    color: #000000;
}

.postCard {
    width: 100%;
    padding: 1.5rem 1.5rem 5rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    margin-bottom: 2rem;
    background-color: #fff;
}

.postHeader {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
    .avatarAndInfo {
        display: flex;
        align-items: center;
        flex-grow: 1; // Cho phép phần này chiếm không gian còn lại
    }
    .avatar {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

    .postInfo {
        display: flex;
        flex-direction: column;
    
        .postAuthor {
            font-weight: bold;
        }
    
        .postTime {
        font-size: 1.2rem;
        color: gray;
        }
    }

    .postEdit {
        position: relative;
        margin-left: auto;
        margin-right: 2rem;
        font-size: 2.2rem;
        color: gray;
        cursor: pointer;
        float: right;

        &:hover {
            color: black;
        }

        .editMenu {
            position: absolute;
            top: 100%; // Hiển thị ngay dưới nút 3 chấm
            right: 0;
            background-color: white;
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
            z-index: 10;
            width: 170px;
            padding: 8px 0;
        
            button {
                width: 100%;
                padding: 8px 16px;
                text-align: left;
                background: none;
                border: none;
                cursor: pointer;
                transition: background-color 0.2s;
        
                &:hover {
                    background-color: #f5f5f5;
                }
        
                &:first-child {
                    border-bottom: 1px solid #e0e0e0;
                }
            }
        }
    }
    
}

.postContent {
    margin-top: 1rem;

    .postText {
        margin: 0 0 1rem 0;
    }

    // .postImage {
    //     width: 100%;
    //     border-radius: 0.8rem;
    //     height: 40rem;
    // }

    .slider {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        overflow: hidden;
      
        
      
        .containImage {
            background: #fff;
            border: 1px solid #ccc;
            margin: 3rem auto;
            display: flex;
            justify-content: center;
            align-items: center; 
            height: 50rem;
            width: 50rem;
            position: relative;
            cursor: pointer;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            .prevButton, .nextButton {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                color: white;
                font-size: 1rem;
                cursor: pointer;
                padding: 0.5rem 0.6rem;
                border-radius: 50%;
            }
          
            .prevButton {
                left: 10px;
            }
          
            .nextButton {
                right: 10px;
            }

            .dots {
                margin-top: 1rem;
                position: absolute;
                bottom: 0;
          
                .dot {
                    height: 1rem;
                    width: 1rem;
                    margin: 0 0.5rem;
                    background-color: white;
                    border-radius: 50%;
                    display: inline-block;
                    cursor: pointer;
                }
          
                .dot.active {
                    background-color: #717171;
                }
            }

        }
      
        
    }
}
.postFooter {
    display: flex;
    flex-direction: column; /* Sắp xếp theo chiều dọc */
    justify-content: space-between;
    margin-top: 1.5rem;
    font-size: 1.4rem;
    color: gray;
    padding-top: 2rem;

    .postFooterInfo {
        display: flex;
        justify-content: space-around;
        margin-bottom: 1rem;

        a {
            color: black;
        }
    }

    .postFooterButtons {
        display: flex;
        justify-content: space-around;
        border-top: 1px solid #ddd;
        padding-top: 1rem;

        .reactionIconActive {
            font-size: 2.5rem;
            margin-right: 0.5rem;
            color: rgba(116, 192, 252, 1)  ;

            &:hover {
                cursor: pointer;
            }

        }
    }

    .postReactions,
    .postComments,
    .postShares {
        display: flex;
        align-items: center;
        width: 12rem;
        justify-content: center;
    }

    .reactionIcon {
        font-size: 2.5rem;
        margin-right: 0.5rem;
        color: #ddd;

        &:hover {
            cursor: pointer;
            color: var(--background-second) ;
            animation: bounce 1s;
        }
    }

    .postComment {
        font-size: 2.5rem;
        color: #ddd;
        margin-right: 0.5rem;

        &:hover {
            cursor: pointer;
            color: #b3b3b3 ;
        }
    }

    .postShare {
        font-size: 2.5rem;
        color: #ddd;
        margin-right: 0.5rem;

        &:hover {
            cursor: pointer;
            color: #b3b3b3 ;
        }
    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    .postWrapper {
      padding: 2rem;
      border-radius: 1rem;
      width: 70rem;
      display: flex;
      justify-content: center;
      align-items: center;


      .closeButton {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: red;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
      }

    }

  }

 


.bounce-animation {
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-5px);
    }
    60% {
        transform: translateY(-2px);
    }
}

.editFormOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.editForm {
    background-color: white;
    border-radius: 10px;
    width: auto;
    max-width: 90%;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    .closeButton {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #666;
    }
        
    .formTitle {
        text-align: center;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold;
    }
    .editFormContent {
        display: flex;
        flex-direction: row;


        .imageUploadContainer {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .imagePreviewContainer {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .imagePreview {
            width: 100%;
            max-width: 400px;
            aspect-ratio: 1/1;
            position: relative;
            overflow: hidden;
        
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        .prevButton, 
        .nextButton {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0,0,0,0.5);
            color: white;
            border: none; 
            padding: 10px;
            cursor: pointer;
            z-index: 10;
            border-radius: 50%; 
        }
        
        .prevButton {
            left: 40px;
            padding: 10px 14px;
        }
        
        .nextButton {
            right: 40px;
            padding: 10px 14px;
        }
        
        .imageIndicator {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
        
        .dot {
            height: 10px;
            width: 10px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            margin: 0 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        
        .activeDot {
            background-color: #717171;
        }

        textarea {
            margin-left: 20px;
            width: 500px;
            min-height: 100px;
            height: 100px;
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            resize: vertical;
        }

        .imagePreview {
            position: relative;
            width: 60rem;
            height: 50rem;
            border: 1px solid #ccc;
            
            img {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                object-fit: contain;
            }
        }

        .imageUploadContainer {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 15px;
    
            
        }
    }

    

    .formActions {
        display: flex;
        justify-content: flex-end;

        button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin: 0 10px;

            &.saveButton {
                background-color: #4CAF50;
                color: white;

                &:hover {
                    background-color: #45a049;
                }
            }

            &.cancelButton {
                background-color: #f44336;
                color: white;

                &:hover {
                    background-color: #d32f2f;
                }
            }
        }
    }
}