@import '../../components/GlobalStyles/GlobalStyles.scss';

.container{
    background-color: $background-color;
    padding: 10px 100px;
    display:flex;
    flex-wrap: wrap;
}
.wrapper{
    display: flex;
    background-color: white;
    margin: 1rem;
    border-radius:10px;
}
.content{
    width:70%;
}
