$base-font-size: 10px;

.icon {
  font-size: 2.4rem;
  cursor: pointer;
  margin: 0 1rem;
}

.facebook-icon {
  color: #1877f2;
  font-size: 3rem;
}

.navbar__search {
  width: 25rem;
}

.navbar .active {
  color: #1877f2;
}

.navbar__center {
  display: flex;
  justify-content: center;
  align-items: center;
}
