<<<<<<< HEAD
.wrapper{
    display: flex;
    height: 100vh;
    width: 100%;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding:5rem 5rem;
    background-color: var(--background);
   
    
    .grid {
        width:100%;
        display: flex;
        gap:1rem;
        flex-wrap: wrap;
        border-radius: 15px;
        padding:1rem;
        // background-color: black;
        justify-content:space-between;
    
        .groupcard {
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            padding:0.8rem;
            gap:1.2rem;

           
            width: calc(33.33% - 3rem);
            background-color: var(--background-second);
            

           .info {
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            
                .title {
                    font-size: 1.5rem;
                    margin: 10px 0;
                    color: black;
                height: 4rem;

                }
            
                .description {
                    font-size: 1.2rem;
                    color: black;
                    margin-bottom: 10px;
                }
            
                .joinbtn {
                    background-color: #007bff;
                    color: white;
                    border: none;
                    padding: 10px;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color 0.3s;
                    text-align: center;
            
                    &:hover {
                        background-color: #0056b3;
                    }
                }
            }

            img {
                border-radius: 10px;
               
                width: 100%;
                height: 150px;
                object-fit: cover;
            }
        }
    }

    
  
}
  
=======
.wrapper {
    width: 100%;
    height: 50rem;
    overflow-y: auto;

    .frame {
        display: flex;
        flex-wrap: nowrap;
        width: 25rem;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 1rem;
        width: 100%;

        .item {
            flex: 0 0 30%;
            height: 25rem;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            box-shadow: 0 0 15px rgba(0,0,0,0.3);
            border-radius: 10px;

        }
        img{
            width: 100%;
            height: 15rem;
        }
        h3{
            height: 2.5rem;
        }
        button {
            background-color: var(--background-second);
            height: 3rem;
        }
    }
}
>>>>>>> origin/main
