.sideBarWrapper{
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    margin: 1rem;
    border-radius:10px;
    padding:10px;
    h1{
        margin-top:0;
        margin-bottom:5px;
        padding-left: 5px;
        font-size: 1.8rem;
        font-weight: 600;
        text-align: left;
        width: 100%;
    }
    h2{
        font-size: 1.4rem;
        color: #007bff;
        margin: 5px 0px;
    }
}
.photoWrapper {
display: flex;
flex-wrap: wrap;  
}
.photo{
    width:33%;
    height: max-content;
    padding:5px;
    cursor: pointer;
    img{
        width: 100%;
        object-fit: cover;
        border-radius:5px;
    }
}

@media (max-width: 768px){
.sideBarWrapper {
    margin-top:0;
    h2 {
        font-size: 2rem!important; 
    }
    h1{
        font-size: 3rem!important; 
    }
}
}