.birthday {
    background-color: #fff;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.8rem;

    h4 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    &Item {
        display: flex;
        align-items: center;
        padding: 1rem 2rem;

        span {
        font-size: 2.4rem;
        margin-right: 1rem;
        }

        p {
        margin: 0;
        font-size: 1.4rem;
        }

        &:hover {
            background-color: #ddd;
            cursor: pointer;
            border-radius: 0.8rem;
        }
    }

    
}
  